html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;

  /* ReactDOM.renderer node */
  > div {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
